<footer class="footer">
    <div class="container footer--flex">
      <div class="footer-start">
        <p>2023 © connectMe - <a href="connect-me.com" target="_blank"
            rel="noopener noreferrer">connect-me.com</a></p>
      </div>
      <ul class="footer-end">
        <li><a href="##" userDtl="profile.name" class="userInfo capitalize">User Name</a></li>
        <li><a href="##" userDtl="_id" class="userInfo">User Id</a></li>
      </ul>
    </div>
  </footer>